.back-to-front button {
	background-color: #165F81;
	padding: 10px 30px;
	border-radius: 10px;
	color: white;
}

.back-to-front button:hover {
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}