.container {
    margin: 0 auto;
    width: 70%;
    text-align: center;
  }
  
  .table {
    background-color: rgba(255, 255,255, 0.33);
    box-shadow: 0px 8px 32px 0 rgba(0, 0,255, 0.33);
    backdrop-filter: blur(3px);
    padding: 0px 16px 16px 16px;
    border-radius: 10px;
    margin: 0 auto;
    border-collapse: collapse;
    width: 70%;
    max-width: 500px;
    font-size: 12px; 
  }
  
  .table th,
  .table td {
    padding: 12px;
    text-align: left;
  }
  .btnproceed{
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  
