.btn-back,
.btn-request {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #165F81;
	padding: 10px 20px;
	border-radius: 10px;
	gap: 10px;
	transition: 0.2s;
	color: white;
	width: 100px;
}

.wrap-btn {
	display: flex;
	justify-content: flex-end;
}

.btn-back:hover,
.btn-request:hover {
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}