.appBg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto !important;
}

.appBg .title {
	margin: 50px 0px;
}

.loginForm {
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	width: 35%;
	padding: 50px;
	border-radius: 10px;
	margin-bottom: 100px;


}

.ant-input-affix-wrapper>input.ant-input {
	padding: 5px;
}

.form-item-login {
	text-align: center;
	display: flex;
	font-size: 20px;
	justify-content: center;
	cursor: pointer;
}



.form-item-login .wrap-btn {
	background-color: #165F81;
	padding: 10px 30px;
	color: white;
	border-radius: 5px;
	transition: 0.2s;
	margin-top: 10px !important;
}

.form-item-login .wrap-btn:hover {
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn-login {
	margin-right: 20px;
	font-weight: 600;
}

.to-register {
	display: flex;
	justify-content: center;
	gap: 5px;
}

/* Mobile: width < 740px */
@media screen and (max-width: 46.1875em) {
	.loginForm {
		width: 80%;
	}
}

/* Tablet: width >= 740px and width < 1024px */
@media screen and (min-width: 46.25em) and (max-width: 59.9375em) {
	.loginForm {
		width: 55%;
	}
}

/* Mobile & tablet: width >= 1024px */
@media screen and (max-width: 64em) {}