.Allbooking {
    margin: 20px 20px;
}

.title {
    display        : flex;
    justify-content: center;

}

.item {
    box-shadow   : 0px 4px 4px 0;
    padding      : 0px 16px 16px 0px;
    border-radius: 10px;
    width        : 800px;
    height       : 154px;
    margin-left  : 300px;
    margin-top   : 50px;
}

.Top {
    display    : flex;
    margin-left: 150px;

}

.Bottom {
    display    : flex;
    margin-left: 150px;
    margin-top : -20px;


}

.itemBLeft h2 {
    font-weight: 100;
}

.itemBRight h2 {
    font-weight: 100;
}

.itemTCenter {
    margin: 0 80px 0 80px;
}

.itemBCenter {
    margin: 0 80px 0 80px;
}